.formRegister {
    border: dotted 1px;
    border-color: #2288a2;
	padding: 20px 50px;
    margin-top: 15px;
}
.greetingText {
    font-size: 17px;
    color: #aeaeae;
    margin-bottom: 30px;
}
input.registerInput {
    width: 100%;
}
button#registerButton {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    background: #FFF;
    border: 2px #5fb2ff solid;
    color: #5fb2ff;
}
button#registerButton:hover
{
    color: #FFFFFF;
    background: #5fb2ff;
    border: 0;
}
h1.tizerText {
    color: #636363;
    font-size: 45px;
    margin-top: 30px;
}

.tizerTextClass
{
    float: left;
}

.bannerImage
{
	margin: 0 auto;
    display: inherit;
    width: 500px;
    float: left;
    margin-top: 30px;
}
.container
{
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (min-width: 480px) and (max-width: 768px),
only screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .bannerImage{
        width: 90%;
        max-height: 90%;
    }
    h1.tizerText
    {
        font-size: 27px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 480px),
only screen and (min-device-width: 200px) and (max-device-width: 480px) {
    .bannerImage{
        width: 90%;
        max-height: 90%;
    }
    h1.tizerText
    {
        font-size: 20px;
    }
}